


/* ==========startSlider=============== */
.carousel-inner {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* ==========end Slider=============== */

/* ==========end Pagination=============== */
.pagination li {
  margin: 0 2px;
}

/* ==========end Pagination=============== */